.suspenseFallback {
  flex:1;
  display:flex;
  justify-content: center;
  align-self:center;
  margin-top: 50px;
  font-size: 14px;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333333
}